header#header{
  font-family: $helvetica;
	position:relative;
	height:46px;
	width: flex-grid(12);
  background-color: #ececec;
  border-bottom: 1px solid #7f7f7f;
  @include box-shadow(none);

  .logo {
    position: relative;
    float: left;
    width: 12%;
    height: 100%;
    font-size: 18px;
    background-color: #ececec;
  }

  ul.top_nav{
    position: relative;
    float: right;
    right:50px;
    list-style:none;

    li{
      display:inline;
      margin-left:25px;
      color:#7F7F7F;

      a{
        font-size: 14px;
        color: #111111;
        text-decoration:none;
        padding: 3px 10px 4px;
        border: 1px solid transparent;
      }

      a:hover{
        background:#666;
        color: #ececec;
        @include box-shadow(none);
        @include border-radius(2px);
      }
    }
  }
}
