$base-font-family: unquote('sans-serif');  // default font-family

$base-font-size: 13px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

$font-color: #2f2f2f;

$link-color: #016eca;

$link-hover-color: #016eca;

$link-active-color: #607890;

$link-visited-color: #607890;

$selected-font-color: #fff;  // color for selected text

$selected-background-color: #3875d7;  // bg-color for selected text

$list-left-margin: 0;  // left margin for ul an ol
