@import "compass/css3";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}


//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active, a:visited { 
	text-decoration:none;
}
a:hover { 
	text-decoration:underline;
}

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
}

sup{
	font-weight:bold;
}

// Add the 'required' attribute on your
// inputs if you want to use these
//input:valid, textarea:valid {}
//input:invalid, textarea:invalid {
//  @include border-radius(1px);
//  @include box-shadow(red, 0, 0, 5px, 0);
//}
//.no-boxshadow input:invalid,
//.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

html{
  height: 100%;
}

body {
  background:#EFEFEF;
  height: 100%;
  min-width:820px;
  font-family:Arial;
  min-width:960px;
}

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.left{
  float:left;
}
  
.right{
  float:right !important;
}

.text-left{
  text-align:left;
}
  
.text-right{
  text-align:right;
}

h1{
  font-size:1.8em;
  margin-bottom:15px;
}

h2{
	font-size:1.5em;
  margin-bottom:10px;
}

#main {
  padding:15px 35px 70px 35px;
  border-top:1px dotted #7f7f7f;
  border-top-width:thin;
  position:relative;
}

h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	
  a{
    font-size:12px;
    float:right;

		&.delete{
		}
		
		&.no_right{
			float:none;
			font-size:inherit;
		}
		
		&.export{
			padding:5px 15px 0 0;
		}
  }
  
  span{
    font-size:12px;

		&.comment{
			padding:0;
		}
  }

	sup{
		font-size:0.7em;
		font-weight:normal;
	}
}

pre.debug_dump{
	padding:15px 0;
}

#loading{
  position:fixed;
  width:100%;
  height:100%;
  background:#fff;
  z-index:100000;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
	left:0;
}

.hide{
	display:none;
}

@for $i from 1 through 10 {
	.width-#{$i*10}{
		width: #{$i*10}#{'%'};
	}
	
	.mt-#{$i*5}{
		margin-top: #{$i*5}px;
	}
}

.width-3{
	width:3%;
}

.width-5{
	width:5%;
}

.width-9{
	width:9%;
}

.mr-0{
	margin-right:0 !important;
}

.mr-5{
	margin-right:5px;
}

.mr-15{
	margin-right:15px;
}

.ml-15{
	margin-left:15px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.width-68{
	width:68%;
}

img.help{
	padding-left:5px;
}

span.divider {
	padding: 0 10px;
}
.c .change
{
    cursor: pointer;
    height:20px;
    width: 15px;
    background: #E6E6E6 url(/images/icons/lock.gif);
}
.c .changing
{
    cursor: pointer;
    height:20px;
    width: 26px;
    background: #E6E6E6 url(/images/icons/unlock.gif);
}

.blockoption {

  .clearfix {
    margin-bottom: 5px;
  }

  select {
      width: 200px;
      float: right;
  }
  .last_day, .next_days {
    margin: 5px 0;

    label {
      width: 60px !important;
      margin-right: 0;
    }
    input {
      margin-right: 10px;
      width: 25px;
      float: left;
    }
  }
  .ui-autocomplete-input {
    border: 1px solid #B3B3B3;
    @include border-radius(5px 0 0 5px);
    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2) inset, 0 1px 0 white);
    padding: 4px;
    width: 220px;
  }
  .visited{
    label{
      width: auto !important;
    }
    input{
      float: left;
      margin-right: 7px;
      margin-top: 6px;
    }
  }
}
.shedmap
{
    background: #EEE;
    border: 1px solid #C4C4C4;
    padding: 0px;
    .clear_all
    {
        float:right;
        cursor: pointer;
    }

}
.shedmap_icon
{
 padding-top:5px;
}

.template_select
{
    float: right;
    margin-right: 1%;
}

.manager_template_delete{
  span{color:red}
}

#event_list
{  
  display: none; 
  .message
  {
     margin:10px;
  }

  .image
  {
     width:20px; 
     float: left;
     margin: 5px;
  }

  .list
  {
     overflow:auto;
     margin: 10px; 
     border:1px solid grey;
     background: #E6E6E6;
     width: 400px;
     height: 300px;
  }

  .buttons
  {
     text-align: center;
  }
}

ul.video_nav{
    list-style:none;
    margin:-10px 0 0 0;

    li{
      display:inline;
      color:#016eca;
      
      &.divider{
        color:#c2c2c2;
      }

      a{
        font-size:0.9em;
        text-decoration:underline;
        color:#016eca;
      }

      a:hover{
        text-decoration:none;
      }
    }
}
div#cgi_comment{
  text-align: center;
  display: none;
  input{
    margin-top: 10px;
  }
}
.shift_on_off{
  text-align: center;
  height: 485px;
  overflow-y: auto;

  #search{
    width: 100px;
  }
  
  .pagination{
    margin-top: 18px !important;
  }
}
.add_user_in_group{

    select{
        float: right;
    }

    input{
        margin-top: 10px;
    }
}
#flash {
  &.error {
    color: red;
    font-weight: bold;
  }
  &.warning {
    color: yellow;
    font-weight: bold;
  }
  &.info {
    color: blue;
    font-weight: bold;
  }
}
